body {
    background-color: rgb(3, 77, 3);
}
#self {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.61);
    Padding: 20px;
}

.center {
    display: flex;
    background-color: rgba(137, 43, 226, 0.671);
    justify-content: center;
    align-items: center;
}

.center2 {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.712);
    padding: 25px;
}

.horizontal {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 350px;

}

.para {
    display: flex;
    font-size: 20px;

}

#font1 {
    font-family: 'oswald', sans-serif;
}

#hello {
    font-family: 'Pacifico', cursive;
}